/* PC */
@media screen and (min-width: 992px) {
    .toggle-menu {
        display: none;
    }

    .mobile-header {
        display: none;
    }
}
/* Tablet & mobile */
@media screen and (max-width: 991px) {
    /* Header */
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar .navigation {
        display: none;
    }

    .toggle-menu {
        display: block;
    }

    .toggle-menu i {
        font-size: 28px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 45% 0 0;
        background: #fff;
        z-index: 3;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.3s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    #mobile-nav li {
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
    }

    .header .header-cart:hover .cart-list {
        display: none;
    }

    /* index.html */
    .pictures-videos .gallery-pictures {
        grid-template-columns: repeat(2, 1fr);
    }

    .row-pictures-videos {
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .pictures-videos .gallery,
    .pictures-videos .video {
        width: 100%;
    }

    /* Cer-Ann.html */
    #cer-ann .sub-title {
        font-size: 1.65rem;
    }

    /* Blog (knowledge.html and newspaper.html) */
    .blog .row-blog {
        flex-wrap: wrap;
    }

    .blog .blog-list,
    .blog .post-sidebar {
        width: 100%;
    }

    .blog .post-sidebar {
        border-left: none;
    }

    .blog .search-action {
        margin-top: 40px;
    }
    /* Products.html */
    .product .product-price-cart {
        flex-direction: column;
        row-gap: 10px;
    }

    /* Order.html */
    #order .row-cart {
        flex-direction: column;
        row-gap: 24px;
    }

    #order .cart-summary {
        width: 100%;
    }

    #order .cart-collaterals {
        width: 100%;
        border: none;
    }

    /* Footer */
    .footer-1st iframe {
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* index.html */
    .features .accordion-btn {
        height: 80px;
    }

    .features .accordion-btn:hover {
    }

    /* Products.html */
    .products .product,
    #products .product {
        width: calc(100% / 3);
    }

    /* Order.html */
    #order .plus-minus-btn {
        width: 32px;
    }

    /* Footer */
    .footer-1st .row {
        flex-wrap: wrap;
        column-gap: 0px;
    }

    .footer-1st .about-us {
        width: 100%;
    }

    .footer-1st .qr-code {
        padding-right: 5px;
        width: 50%;
    }

    .footer-1st .fanpage {
        padding-left: 5px;
        width: 50%;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    /* Header */
    .menu-drawer {
        inset: 0 20% 0 0;
        padding: 40px;
        z-index: 3;
    }

    .header-cart .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 33px;
    }

    .header-cart .cart-title {
        font-size: 0;
    }

    /* index.html */
    .introduce .row-introduce {
        flex-wrap: wrap;
    }

    .introduce .info,
    .introduce .banner {
        width: 100%;
    }

    .features .row-features {
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .features .accordion,
    .features .image {
        width: 100%;
    }

    /* Cer-Ann.html */
    #cer-ann .item {
        width: 100%;
    }

    /* Blog (knowledge.html and newspaper.html) */
    .blog .blog-layout .item {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .blog .blog-layout .item .entry-image,
    .blog .blog-layout .item .entry-content,
    .blog .blog-list,
    .blog .post-sidebar {
        width: 100%;
    }

    /* Products.html */
    #products .row-product {
        flex-direction: column;
    }

    #products .result-select {
        margin-top: 14px;
    }

    #products .orderby {
        padding: 10px 0;
        margin: 0;
    }

    .result-count {
        display: none;
    }

    .products .product,
    #products .product {
        width: 50%;
    }

    .product .product-cart-btn {
        font-size: 1.02rem;
    }
    /* Contact.html */
    #contact .row-contact,
    .contact .row-contact {
        flex-wrap: wrap;
        row-gap: 40px;
    }

    #contact .contact-us,
    #contact .map,
    .contact .contact-us,
    .contact .map {
        width: 100%;
    }

    #contact .contact-form,
    #contact .map-area,
    .contact .contact-form,
    .contact .map-area {
        margin-top: 20px;
    }

    /* Order.html */
    #order .product-subtotal,
    #order .sub-total {
        display: none;
    }

    #order .cart-list-header .product-quantity-price {
        width: 50%;
        text-align: right;
    }

    #order .cart-item-wrap {
        min-width: 15%;
    }

    #order .cart-item-info {
        margin: 0;
        width: auto;
        justify-content: space-around;
    }

    #order .item-remove {
        align-self: self-start;
        width: 10%;
    }

    #order .item-quantity-price {
        min-width: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    #order .plus-minus-btn {
        flex-direction: row;
        column-gap: 4px;
        min-width: 90px;
        height: 30px;
    }

    #order .item-name {
        font-size: 1.5rem;
    }

    /* Payment.html */
    #payment .row-payment {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    #payment .customer-details,
    #payment .shell-out {
        width: 100%;
        border: none;
    }

    #payment .customer-phone-address-wrap {
        flex-wrap: wrap;
    }

    #payment .customer-phone-wrap,
    #payment .customer-email-wrap {
        width: 100%;
    }

    /* Footer */
    .footer-1st .row {
        flex-direction: column;
        row-gap: 20px;
    }

    .footer-1st .qr-code {
        display: none;
    }

    .footer-1st .about-us,
    .footer-1st .qr-code,
    .footer-1st .fanpage {
        width: 100%;
    }
}
