* {
    box-sizing: border-box;
}

:root {
    --primary-color: #114c30;
    --background-color: #fac529;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Noto Sans", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    /* Khi bth thì chiều rộng content sẽ là 1210px, khi mà <1210px thì width sẽ bằng độ rộng trình duyệt trừ 2 bên 24px */
    width: 1210px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    /* Đặt kích thước nhưng chưa ăn, phải thêm display inline-block */
    min-width: 98px;
    padding: 10px 8px;
    background: var(--primary-color);
    border-radius: 6px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 1.24rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-claim, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.highlight {
    font-weight: 600;
}

/* Remove the X from input type=search */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.row {
    display: flex;
    margin: 0 -15px;
}
/* =============== Header ===============*/

.header {
    position: sticky;
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    z-index: 2;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 14px;
}

.header .navbar > a {
    display: inline-block;
}

.header .logo {
    /* width: 125px; */
    padding: 4px 0;
    /* margin-right: 30px; */
}

.header .navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    text-align: center;
    flex: 1;
}

.header .navigation a {
    padding: 10px 0;
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    font-size: 1.65rem;
    font-weight: 700;
    letter-spacing: 0.032rem;
    text-decoration: none;
    color: var(--primary-color);
}

.header .header-cart-wrap {
    position: relative;
    display: inline-block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header .header-cart:hover .cart-list {
    display: block;
}

.header .cart-list {
    position: absolute;
    display: none;
    top: 100%;
    right: -15px;
    width: 303px;
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: #ddd 1px 1px 15px 0px;
    animation: fadeIn linear 0.15s;
}

.header .cart-list::before {
    content: "";
    position: absolute;
    top: -22px;
    right: 48px;
    /* top: -25%;
    right: 16%;*/
    border: 15px solid;
    border-color: transparent transparent #fff transparent;
    cursor: pointer;
}

.header .cart-list--no-cart {
    padding: 20px;
}

.header .cart-list .msg {
    display: none;
    text-align: center;
    color: #777777;
    font-size: 1.8rem;
    line-height: 1.42;
    /* line-height: 25.6px; */
}

.header .cart-list--no-cart .msg {
    display: block;
}

.header .cart-list-items {
    margin-top: 12px;
    overflow-y: auto;
    max-height: 360px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0px 10px;
    margin-left: 22px;
    margin-right: 22px;
}

.cart-item .img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    flex-shrink: 0;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.cart-item-info .item-name {
    color: #000;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.cart-item-wrap:hover .img,
.item-name:hover {
    opacity: 0.6;
}

.item-quantity-price {
    display: flex;
    margin-top: 5px;
}

.item-quantity,
.item-quantity-price pre {
    color: #777777;
    font-size: 1.36rem;
    /* line-height: 18.088px; */
    line-height: 1.33;
}

.item-price {
    color: #888888;
    font-size: 1.36rem;
    font-weight: 700;
    /* line-height: 18.088px; */
    line-height: 1.33;
}

.item-remove {
    align-self: flex-start;
}

.item-remove i {
    font-size: 2.4rem;
    color: #000;
    opacity: 0.3;
}

.item-remove:hover i {
    opacity: 1;
    cursor: pointer;
}

.header .cart-cta {
    display: none;
}

.header .total-price {
    padding: 12px 0px 12px;
    margin-left: 22px;
    margin-right: 22px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}

.header .total-price strong {
    color: #888888;
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 1.55;
}

.header .total-price span {
    color: #111111;
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 1.55;
}

.header .cart-pay-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px 22px 22px;
}

.header .cart-btn,
.header .pay-btn {
    display: block;
    width: 100%;
    border-radius: 0;
    margin: 4px 0;
    padding: 14px 0px;
    font-size: 1.552rem;
    letter-spacing: 0.0291em;
    opacity: 0.9;
}

.header .pay-btn {
    background-color: var(--background-color);
}

.header .cart-btn:hover,
.header .pay-btn:hover {
    opacity: 1;
}

.header .btn {
    position: relative;
    /* margin-left: 40px; */
}

.header .cart-quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    opacity: 0.9;
    text-align: center;
    color: var(--primary-color);
    line-height: 18px;
    z-index: 1;
}

/* =============== Slider ===============*/
.main-slider img {
    display: block;
    width: 100%;
    cursor: pointer;
}

/* =============== Introduce =============== */
.introduce {
    background: center / cover no-repeat url(../img/bg-section-introduce.jpg);
    padding: 100px 0;
}

.introduce .row-introduce {
    column-gap: 80px;
    align-items: center;
}

.introduce .info {
    width: 58.3333333333%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 676px; */
}

.introduce .title {
    margin-top: 75px;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
}

.introduce .desc {
    margin-top: 25px;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.6;
}

.introduce .btn {
    position: relative;
    margin-top: 25px;
    min-width: 124px;
    padding: 20px 0px;
    font-size: 1.6rem;
    border-radius: 10px;
    line-height: 40px;
}

.introduce .btn .see-more {
    position: absolute;
    inset: 0;
}

/* Animation toLeft*/
@keyframes toLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-8px);
    }
}

.introduce .btn:hover .see-more {
    animation: forwards toLeft linear 0.2s;
}

.introduce .fa-angle-right {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.introduce .btn:hover .fa-angle-right {
    display: inline-block;
}

.introduce .banner {
    width: 41.6666666667%;
    padding: 0 15px;
}

.introduce .banner-introduce {
    width: 100%;
}

.introduce .fa-angle-right {
    display: none;
    font-size: 1.6rem;
}

/* =============== Why-us =============== */
.why-us {
    background-color: #114c30;
    padding: 80px 0 110px;
}

.why-us .title {
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.why-us .slider {
    margin-top: 50px;
    cursor: pointer;
}

.why-us .slick-track {
    display: flex;
}

.why-us .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.why-us .slide .fa-certificate,
.why-us .slide .fa-yelp,
.why-us .slide .fa-skyatlas,
.why-us .slide .fa-pagelines {
    font-size: 5rem;
}

.why-us .slide .sub-title {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

.why-us .slide .desc {
    margin-top: 15px;
    max-width: 288px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.6;
}

/* =============== Features =============== */
.features {
    background-color: #fafafa;
    padding: 30px 0 60px;
}

.features .title {
    padding-top: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

.features .sub-title {
    margin-top: 50px;
    font-size: 1.6rem;
    text-align: center;
}

.features .row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.features .accordion {
    height: 315px;
}

.features .accordion,
.features .image {
    padding: 0 15px;
    width: calc(100% / 3);
}

.features .accordion-btn {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px 40px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    text-align: left;
    transition: 0.4s;
}

.features .accordion-btn ~ .accordion-btn {
    margin-top: 20px;
}

.features .accordion-btn:first-child {
    background-color: var(--primary-color);
    color: #fff;
}

.features .accordion-btn:hover {
    color: #a1a1a1 !important;
}

.features .accordion-name {
    font-size: 1.76rem;
    /* line-height: 28.16px; */
}

.features .panel {
    /* display: none;  */
    /* do cai nay ma mat hon 1 ngay */
    margin: 10px 10px 0 10px;
    padding: 0 18px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    line-height: 22.4px;
}

.features .panel:first-of-type {
    max-height: 120px;
    border: 1px dashed #ddd;
}

.features .panel .desc {
    margin: 10px 0 10px;
    background-color: transparent;
    color: black;
}

.features .image img {
    width: 100%;
}

/* =============== Products =============== */
.products {
    margin-top: 40px;
    padding: 40px 0;
    text-align: center;
}

.products .title {
    color: var(--primary-color);
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    /* line-height: 48px; */
}

.products-layout {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.products .product,
#products .product {
    position: relative;
    /* outline: 9px solid #fff; */
    border: 1px solid #e8e8e8;
    /* Do padding nên grid item sẽ chòi ra grid layout */
    padding: 9px;
    animation: fadeIn linear 0.48s;
}

.product .product-img {
    display: inline-block;
}

.product .product-img img {
    width: 100%;
    /* object-fit: cover; */
}

.product .product-name {
    margin-top: 14px;
    display: inline-block;
    width: 100%;
    color: black;
}

.product .product-name:hover {
    color: #a1a1a1;
}

.product .product-price-cart {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product .product-sale {
    display: flex;
    flex-direction: column;
}

.product .product-price {
    color: #111;
    font-weight: 600;
}

.product .product--not-sale,
.product--not-sale-tag {
    display: none;
}

.product .product--sale {
    text-decoration: line-through 1px;
    opacity: 0.6;
}

.product--sale-tag {
    position: absolute;
    top: 10%;
    left: 2%;
    color: #446084;
    font-size: 1.7rem;
    font-weight: 700;
    border: 2px solid currentColor;
    background-color: var(--background-color);
    padding: 8px 4px;
    z-index: 1;
}

.product .product-cart-btn {
    background-color: #fff;
    background-image: linear-gradient(
        180deg,
        rgb(4, 113, 70) 0%,
        var(--primary-color) 100%
    );
    /* background-color: var(--primary-color); */
    opacity: 0.9;
    border-radius: 5px;
    font-size: 1.152rem;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0.0216em;
    line-height: 2.4;
    padding: 2px 12.5px;
}

.product .product-cart-btn:hover {
    opacity: 1;
}

.products .see-more-btn {
    display: inline-block;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 1.552rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.0216em;
    line-height: 1.6;
    padding: 8px 20px;
}

/* ============================ pictrues-videos ==================== */
.pictrues-videos {
    margin-top: 30px;
    padding: 40px 0;
}

.pictrues-videos .row {
    display: grid;
    grid-template-columns: calc((7 / 12) * 100%) calc((5 / 12) * 100%);
}

.pictrues-videos .title {
    color: var(--primary-color);
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.pictrues-videos .gallery,
.pictrues-videos .video {
    padding: 0 15px;
}

.pictrues-videos .gallery-pictures {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 170px 170px;
    gap: 5px;
    overflow: hidden;
}

.pictrues-videos .gallery .item a {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.pictrues-videos .gallery .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pictrues-videos .video-wrap {
    margin-top: 50px;

    height: calc(100% - 80px);
    width: 100%;
}

.pictrues-videos .video-wrap iframe {
    width: 100%;
    height: 100%;
}

/* ==================== Newspaper ===================== */
.newspaper {
    padding: 30px 0;
}

.newspaper .title {
    color: var(--primary-color);
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.newspaper .slider {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newspaper .slider .slide {
    position: relative;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.newspaper .slider .slide:hover .desc {
    opacity: 0.6;
}

.newspaper .slider .body {
    margin-top: 12px;
    color: #000;
}

.newspaper .slider .sub-title {
    font-family: "Exo 2", sans-serif;
    font-size: 1.656rem;
    font-weight: 700;
    line-height: 1.3;
}

.newspaper .slider .desc {
    position: relative;
    margin-top: 16px;
    font-size: 1.44rem;
    line-height: 1.6;
    transition: 0.2s ease-in-out;
}

.newspaper .slider .desc::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 30px;
    height: 3px;
    background: #efefef;
}

.newspaper img {
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.newspaper .slider .slide .date {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 44px;
    height: 44px;
    top: 10%;
    left: -2%;
    background-color: #fff;
    border: 2px var(--primary-color) solid;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.newspaper .slider .slide:hover .date {
    background-color: var(--primary-color);
    color: #fff;
}

.newspaper .slider .date span {
    font-size: 1.2rem;
    font-weight: 600;
}

.newspaper .slider .slick-arrow {
    position: absolute;
    display: none !important;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #fff;
    opacity: 0.6;
    padding: 175px 10px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.newspaper .slider .slick-arrow i {
    font-size: 2rem;
}

.newspaper .slider:hover .slick-arrow {
    display: block !important;
}

.newspaper .slider .slick-prev {
    left: 0;
}

.newspaper .slider .slick-next {
    right: 0;
}

/* ===================== Customer review ====================*/
.customer-reviews {
    background: center / cover no-repeat;
    background-image: linear-gradient(
            to bottom,
            rgba(245, 245, 245, 0.6) 0%,
            rgba(250, 250, 250, 0.6) 100%
        ),
        url(../img/customer/customer-review.jpg);
    padding: 40px 0 80px;
}

.customer-reviews .title {
    color: var(--primary-color);
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.customer-reviews .feedback {
    text-align: center;
}

.customer-reviews .feedback-body {
    margin-top: 140px;
}

.customer-reviews .feedback-img {
    margin: 25px auto 0;
}

.customer-reviews .feedback-img img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.customer-reviews .feedback .feedback-content {
    display: block;
    width: 750px;
    max-width: 100%;
    margin: auto;
    font-size: 14px;
    color: #333;
}

.customer-reviews .feedback p {
    font-size: 1.6rem;
    line-height: 1.7;
    font-style: italic;
    color: #000;
}

.customer-reviews .feedback .customer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
}

.customer-reviews .customer .name {
    font-weight: 700;
}
.customer-reviews .customer .company {
    margin-top: 10px;
    padding: 2px 0;
}

.slick-arrow-feedback {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    opacity: 0.6;
    padding: 20px;
    font-size: 2rem;
    z-index: 1;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.slick-arrow-feedback:hover {
    color: var(--primary-color);
}

.customer-reviews .feedback-body .slick-prev {
    left: 0;
}

.customer-reviews .feedback-body .slick-next {
    right: 0;
}

/*========================== Knowledge =========================*/
.knowledge {
    padding: 30px 0 90px;
}

.knowledge .title {
    color: var(--primary-color);
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.knowledge .slider {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knowledge .slider .slide {
    position: relative;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.knowledge .slider .slide:hover .desc {
    opacity: 0.6;
}

.knowledge .slider .body {
    margin-top: 12px;
    color: #000;
}

.knowledge .slider .sub-title {
    font-family: "Exo 2", sans-serif;
    font-size: 1.656rem;
    font-weight: 700;
    line-height: 1.3;
}

.knowledge .slider .desc {
    position: relative;
    margin-top: 16px;
    font-size: 1.44rem;
    line-height: 1.6;
    transition: 0.2s ease-in-out;
}

.knowledge .slider .desc::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 30px;
    height: 3px;
    background: #efefef;
}

.knowledge img {
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.knowledge .slider .slide .date {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 44px;
    height: 44px;
    top: 10%;
    left: -2%;
    background-color: #fff;
    border: 2px var(--primary-color) solid;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.knowledge .slider .slide:hover .date {
    background-color: var(--primary-color);
    color: #fff;
}

.knowledge .slider .date span {
    font-size: 1.2rem;
    font-weight: 600;
}

.knowledge .slider .slick-arrow {
    position: absolute;
    display: none !important;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

.knowledge .slider .slick-arrow:hover {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

.knowledge .slider .slick-arrow i {
    font-size: 2rem;
    text-align: center;
}

.knowledge .slider:hover .slick-arrow {
    display: block !important;
}

.knowledge .slider .slick-prev {
    left: -15px;
}

.knowledge .slider .slick-next {
    right: -15px;
}

.knowledge .slider .slick-dots {
    position: absolute;
    display: flex !important;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 200%);
    column-gap: 12px;
}

.knowledge .slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
}

.knowledge .slider .slick-dots .slick-active button {
    background-color: #000;
}

/* ==================== Contact =======================*/
.contact {
    padding: 50px 0 70px;
    background-color: rgb(253, 246, 240);
}

.contact .contact-us,
.contact .map {
    padding: 0 15px;
    width: 50%;
    text-align: center;
}

.contact .map iframe {
    width: 100%;
}

.contact .title {
    color: var(--primary-color);
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.contact .contact-form,
.contact .map-area {
    margin-top: 50px;
}

/* ==================== Footer =======================*/
.footer {
}

.footer .footer-1st {
    padding: 40px 0 90px;
    background: url(../img/bg-footer-h2.png) center / cover no-repeat;
    background-color: rgb(26, 87, 72);
}

.footer-1st .about-us,
.footer-1st .qr-code,
.footer-1st .fanpage {
    padding: 0 15px;
}

.footer-1st .about-us {
    width: 40%;
}

.footer-1st .qr-code {
    width: 25%;
}

.footer-1st .fanpage {
    width: 35%;
}

.footer-1st .title-main {
    color: #fff;
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 3.8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-1st .title-main span {
    position: relative;
    top: 6px;
    left: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.footer-1st .body {
    margin-top: 20px;
    opacity: 0.9;
}

.footer-1st .about-us .title,
.footer-1st .about-us .icon-info,
.footer-1st .about-us .icon-info a {
    color: #fff;
}

.footer-1st .about-us .title {
    font-size: 2rem;
    font-weight: 700;
}

.footer-1st .about-us .icon-info i {
    margin-right: 8px;
}

.footer-1st .about-us .icon-info li {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.6;
}

.footer-1st .about-us .icon-info li:hover a {
    opacity: 1;
}

.footer-1st .about-us .icon-info strong {
    font-weight: 700;
}

.footer-1st .qr-code .qr-code-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.footer-2st {
    height: 48px;
    background-color: var(--background-color);
}

.footer-2st .desc {
    text-align: center;
    font-size: 1.44rem;
    line-height: 48px;
}

/* ===================== introduce.html ======================= */
#introduce .wrapper {
    margin: 40px 0 55px;
}

#introduce .main-img img {
    width: 100%;
    display: block;
}

#introduce .wrapper .title {
    font-size: 2.72rem;
    font-weight: 700;
    font-family: "Exo 2", sans-serif;
    text-align: center;
}

#introduce .wrapper .desc {
    margin-top: 30px;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.6;
}

#introduce figure {
    width: 70%;
    margin: 30px auto;
}

#introduce figure img {
    display: block;
}

#introduce figure figcaption {
    font-size: 1.44rem;
    font-style: italic;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    line-height: 1.6;
    padding: 6px;
}

#introduce .sub-title {
    font-size: 2rem;
    font-weight: 700;
}

#introduce .order-list {
    margin: 30px 0 0 25px;
    list-style: auto;
    font-size: 1.6rem;
    line-height: 1.6;
}

#introduce .un-list {
    list-style: "– ";
}

/* ========================== products.html ============================ */
#products {
    margin-top: 35px;
    text-align: center;
}

#products .row-product {
    align-items: center;
    justify-content: space-between;
}

#products .breadcrumb {
    text-transform: uppercase;
    font-size: 1.28rem;
    color: #222;
    font-weight: 700;
    letter-spacing: 0;
    padding: 0 15px;
}

#products .breadcrumb a {
    color: rgba(102, 102, 102, 0.7);
    font-weight: 500;
}

#products .breadcrumb a:hover {
    color: #111;
}

#products .result-select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

#products .orderby {
    margin-left: 20px;
    padding: 10px 18px 10px 10px;
    font-size: 1.552rem;
    text-align: left;
    background-color: #fcfcfc;
    box-shadow: #858080 1px 1px 6px 0px;
    outline: none;
}

.pagination {
    padding: 10px;
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li {
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #000;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    animation: fadeIn linear 0.48s;
}

.pagination .active {
    pointer-events: none;
}

.pagination li:hover,
.pagination .active {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

/* -------------------------- Cer-Ann.html -----------------------------------*/
#cer-ann {
    margin: 35px 0 90px 0;
}
#cer-ann .title {
    font-family: "Exo 2", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

#cer-ann .row-cer-ann {
    flex-wrap: wrap;
}

#cer-ann .item {
    margin-top: 35px;
    padding: 0 15px;
    width: 50%;
}

#cer-ann .sub-title {
    font-family: "Exo 2", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#cer-ann .row-cer-ann object {
    margin-top: 15px;
    height: 813px;
    overflow-x: hidden !important;
}

/* ===================== knowledge.html and newspaper.html (blog)======================= */
.blog {
    margin: 30px 0;
}

.blog .title {
    font-size: 1.84rem;
    font-weight: 700;
    letter-spacing: 0.92px;
    text-align: center;
    text-transform: uppercase;
}

.blog .row {
    display: flex;
    margin: 0 -15px;
}

.blog .row-blog {
    margin: 40px -30px 0;
}

.blog-list {
    padding: 0 30px;
    width: 75%;
}

.blog-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

.blog .item {
    /* Had display: flex in genKnowledgeLayout in js */
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    animation: fadeIn linear 0.48s;
}

.blog .entry-image {
    flex: 1;
    transition: transform 1s ease-in-out;
}

.blog .entry-image:hover {
    transform: scale(1.05);
}

.blog .item img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border: 1px solid #cfcfcf;
    padding: 4px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog .entry-content {
    flex: 2;
}

.blog .entry-content .entry-title a {
    font-family: "Exo 2", sans-serif;
    font-size: 2.56rem;
    font-weight: 700;
    line-height: 1.3;
    color: #000;
    transition: color 0.1s ease-in-out;
}

.blog .entry-content .entry-title:hover a {
    color: #909090;
}

.blog .entry-content .desc {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: justify;
}

.blog .entry-content .entry-meta-cta {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .entry-content .entry-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    text-transform: uppercase;
}

.blog .entry-content .posted-on {
    font-size: 1.3rem;
    letter-spacing: 0.56px;
}

.blog .entry-content .byline {
    font-size: 1.12rem;
    letter-spacing: 0.56px;
}

.blog .entry-content .cta-btn {
    min-width: 110px;
    background-color: #fff;
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    text-transform: none;
    font-size: 1.2rem;
    transition: all 0.25s ease-in-out;
}

.blog .entry-content .cta-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.blog .pagination {
    padding-top: 40px;
}

.blog .post-sidebar {
    padding: 0 30px;
    border-left: 1px solid #ececec;
    width: 25%;
}

.blog .search-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .search-field {
    padding: 10px 12px;
    width: 100%;
    font-size: 1.552rem;
    color: #555;
    border: 1px solid #e2e2e2;
    outline: none;
    box-shadow: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.blog .search-field:focus {
    border: 1px solid #3a3b74;
}

.blog .search-field:focus ~ .search-result {
    display: block;
}

.blog .btn-search {
    padding: 8px 12px;
    border: none;
    background-color: #3a3b74;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.blog .btn-search i {
    color: #fff;
    font-size: 1.8624rem;
    line-height: 24px;
    text-align: center;
}

.blog .search-result {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.blog .msg-no-result {
    padding: 12px;
    display: none;
}

.blog .search-action--no-result .msg-no-result {
    display: block;
}

.blog .search-result-list {
    display: none;
}

.blog .item-result {
    padding: 10px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog .item-result:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.blog .item-result .result-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    color: #000;
}

.blog .item-result .result-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.blog .item-result .result-name {
    font-size: 1.6rem;
    line-height: 1.6;
}

.blog .aside-sidebar {
    margin-top: 40px;
}

.blog .aside-title {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #6d6d6d;
    padding-bottom: 12px;
    border-bottom: 1px solid #e2e2e2;
}

.blog .aside-list {
    margin-top: 10px;
}

.blog .aside-list .aside-item {
    padding: 8px 0;
}

.blog .aside-list .aside-item a {
    font-size: 1.4rem;
    color: #6d6d6d;
    line-height: 1.6;
    transition: color ease-in-out 0.3s;
}

.blog .aside-list .aside-item:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}

.blog .aside-list .aside-item:hover a {
    color: #000;
}

.blog .aside-item--active a {
    pointer-events: none;
    /* cursor: auto; */
    color: #000 !important;
    font-weight: 700;
}

/* =========================== order.html ============================== */
#order {
    margin: 30px 0;
}

#order .title {
    font-size: 1.84rem;
    font-weight: 700;
    letter-spacing: 0.92px;
    text-align: center;
    text-transform: uppercase;
}

#order .row {
    display: flex;
    margin: 0 -15px;
}
#order .row-cart {
    margin-top: 30px;
    justify-content: center;
}

#order .back-to-products {
    display: none;
    margin: 40px 0;
    text-align: center;
}

#order .cart-list--no-cart .back-to-products {
    display: block;
}

#order .cart-list--no-cart .cart-summary,
#order .cart-list--no-cart .cart-collaterals {
    display: none;
}

#order .btn-back-to-products {
    /* display: inline-block; */
    margin-top: 20px;
}

#order .back-to-products .msg {
    text-align: center;
    color: #777777;
    font-size: 1.8rem;
    line-height: 1.42;
}

#order .cart-summary {
    width: calc(7 / 12 * 100%);
    padding: 0 15px;
}

#order .cart-collaterals {
    width: calc(5 / 12 * 100%);
    padding: 0 15px;
    border-left: 1px solid #ececec;
}

#order .cart-list-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#order .cart-list-header span,
#order .cart-total-price {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

#order .cart-item-wrap img {
    width: 100%;
}

#order .cart-list-header .product-name {
    width: 50%;
}

#order .cart-list-header .product-quantity-price {
    width: 25%;
}

#order .cart-list-header .product-subtotal {
    width: 20%;
}

#order .order-cart-list-items {
    margin-top: 20px;
    border-top: 2px solid #777777;
}

#order .cart-item {
    margin: 0;
    width: 100%;
}

#order .cart-item-wrap {
    width: 10%;
}

#order .cart-item-info {
    margin-left: 8px;
    width: 85%;
    flex-direction: row;
    align-items: center;
    /* justify-content: right; */
}

#order .item-remove {
    width: 5%;
    text-align: center;
    align-self: center;
}

#order .item-name {
    width: 50%;
}

#order .item-quantity-price {
    min-width: 150px;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: 25%;
    column-gap: 4px;
}

#order .sub-total {
    width: 25%;
    text-align: center;
    margin-left: 4px;
    color: #888888;
    font-size: 1.36rem;
    font-weight: 700;
    line-height: 1.33;
}

#order .plus-minus-btn {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 25px;
}

#order .plus-minus-btn button {
    background-color: transparent;
    border: 2px solid #e8e8e8;
    font-size: 1.4rem;
    width: 100%;
}

#order .cart-total-price {
    display: block;
}

#order .shop-wrapper {
    margin-top: 20px;
    border-top: 2px solid #777777;
    border-bottom: 2px solid #777777;
}

#order .shop-sub-total,
#order .shop-delivery,
#order .shop-order-total,
#order .shop-order-coupon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    color: #888888;
    font-size: 1.36rem;
    font-weight: 700;
    line-height: 1.33;
}

#order .btn-cart-sidebar {
    margin-top: 20px;
    padding: 12px 8px;
    border-radius: 0;
    width: 100%;
}

#order .checkout-coupon {
    margin-top: 30px;
}

#order .checkout-coupon .coupon-lable {
    display: block;
    padding-bottom: 20px;
    border-bottom: 2px solid #777777;
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
}

#order .checkout-coupon input,
#order .checkout-coupon .coupon-submit {
    margin-top: 18px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    outline: none;
    width: 100%;
    color: #888888;
    font-size: 1.36rem;
    font-weight: 700;
}

#order .checkout-coupon .coupon-submit {
    display: block;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

#order .checkout-coupon .coupon-submit:hover {
    background-color: #e8e8e8;
}

#order .checkout-coupon .counpon-submit-msg {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--background-color);
}

.header:has(~ #order) .header-cart:hover .cart-list,
.header:has(~ #payment) .header-cart:hover .cart-list {
    display: none;
}

/* ======================== Payment ===========================*/
#payment {
    margin: 30px 0;
}

#payment .title {
    font-size: 1.84rem;
    font-weight: 700;
    letter-spacing: 0.92px;
    text-align: center;
    text-transform: uppercase;
}

#payment .row-payment {
    margin-top: 30px;
}

#payment .payment-info {
    margin: 0 -15px;
    display: flex;
}

#payment .info-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

#payment .customer-details {
    margin-top: 20px;
    padding: 0 15px;
    width: calc(8 / 12 * 100%);
}

#payment .customer-details .form-control {
    margin: 10px 0 18px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    outline: none;
    width: 100%;
    color: #888888;
    font-size: 1.36rem;
    font-weight: 700;
}

#payment .customer-phone-address-wrap {
    display: flex;
    column-gap: 15px;
}

#payment .customer-phone-wrap,
#payment .customer-email-wrap {
    width: 100%;
}

#payment .shell-out {
    margin-top: 20px;
    padding: 0 15px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: calc(4 / 12 * 100%);
    border-left: 1px solid #ececec;
}

#payment .back-to-order {
    min-width: 110px;
    background-color: #fff;
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    text-transform: none;
    font-size: 1.2rem;
    transition: all 0.25s ease-in-out;
}

#payment .shell-out-total {
    padding: 14px;
    border: 1px solid #ececec;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8;
}

#payment .shell-out-price {
    color: red;
}

#payment .shell-out-btn {
    margin-top: 20px;
    cursor: pointer;
    align-self: center;
}

/* ====================== Mobile nav ==================== */
/* .navbar-btn {
    width: 28px;
    height: 28px;
    color: var(--primary-color);
    display: none;
} */
